# Requisitos del Proyecto Final CSIC-ClimateWatch
# -----------------------------------------------

# Interfaz Web Interactiva
streamlit>=1.30.0

# Ciencia de Datos y Manipulación
pandas>=2.0.0
numpy>=1.24.0

# Visualización de Datos
matplotlib>=3.5.0
seaborn>=0.12.0

# Pruebas Unitarias y Calidad de Software
pytest>=7.0.0

# Empaquetado y Plantillas pyOpenSci
copier>=9.0.0
hatch>=1.14.0
